<section>
    <div class="form-vertical">
        <div class="col-md-2 col-md-offset-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="android-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Android</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="bootstrap-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Bootstrap</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="github-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Github</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="angular-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Angular</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="js-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>JS</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="intellij-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>IntelliJ</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="inventor-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Inventor</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="word-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Word</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="excel-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Excel</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="powerpoint-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>PPT</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="html5-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Html5</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="mysqlicon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>MySQL</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="java7.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>Java</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="css3-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>CSS</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2">
            <div id="ih-custom" class="ih-item circle effect1">
                <a href="">
                    <div class="spinner"></div>
                    <div class="img"><img src="apple-icon.png" alt="img"></div>
                    <div class="info">
                        <div class="info-back">
                            <h3>iOS</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    </div>
</section>